.item {
    width: 1680px;
    height: 150px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-left: 189px;
    font-size: 55px;
    line-height: 64px;
    color: #810000;
    border-top: 3px solid #810000;
    list-style: none;
}
    .item:nth-child(even) {
        background: rgba(216, 183, 180, 0.69);
    }
    .item:nth-child(1) {
        border: none;
    }

.number {
    padding-left: 95px;
    display: flex;
    align-items:center;
    font-weight: 700;
}

.profile {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
    .profile img {
        width: 120px;
        margin-right: 90px;
    }

.points {
    display: flex;
    align-items:center;
    padding-left: 330px;
    font-weight: 700;
}